-
    let blog = {
        blogOne: {
            src: "img/ROGER_DUBUIS.jpg",
            alt: "",
            title: "ROGER DUBUIS. ЧАСТИНА 1",
            description: "Цей чемпіон «гіперхорології» став синонімом надмірності й завдяки своїй радикальній скелетонізованій архітектурі неодноразово демонструє пристрасть до годинного вуайєризму. У цій серії з чотирьох статей описується нещодавня подорож на мануфактуру, де можна було спостерігати за виготовленням та оздобленням деталей, а також за збіркою та регулюванням годинників компанії.",
            hashtags: ["#ЕКСКЛЮЗИВ", "#ПРОБРЕНД"]
        },
        blogTwo: {
            src: "img/hictory_clock.jpg",
            alt: "",
            title: "ІСТОРІЯ ЛЮКСОВИХ ГОДИННИКІВ. ЧАСТИНА 1",
            description: "Історія люксових годинників зародилася дуже давно, вона веде відлік із часів перших годинників у світі. Тоді годинник був розкішшю, яку могла собі дозволити лише найвища еліта суспільства. Навіть не всім, хто має титул і великі гроші, могли виготовити цей розкішний аксесуар. Власне, з того часу мало що змінилося.",
            hashtags: ["#ЕКСКЛЮЗИВ", "#ІСТОРІЯ"]
        },
        blogTree: {
            src: "img/tissot_prs.jpg",
            alt: "",
            title: "ВЕЛИКИЙ ТА СМІЛИВИЙ TISSOT PRS 516 CHRONOGRAPH",
            description: "На початку цього року компанія Tissot оновила модель PRS 516 Automatic Chronograph, але не пішла вінтажним шляхом. На противагу колекції Heritage із переконливими рімейками вінтажних моделей, PRS 516 – це сучасний хронограф із зухвалим настроєм, безліччю деталей автоспорту й за чудовою ціною.",
            hashtags: ["#ХРОНОГРАФ", "#TISSOT", "#ОГЛЯДГОДИННИКIВ"]
        }
    };
-
    let brands = [
        {url: "#", src: "img/coco", alt: "coco"},
        {url: "#", src: "img/rolex_brand", alt: "rolex_brand"},
        {url: "#", src: "img/breg", alt: "breg"},
        {url: "#", src: "img/haven", alt: "haven"},

    ]

mixin brand (items)
    for item in items 
        a.slides_brand(href=item.url) 
            picture 
                source(srcset=item.src + ".webp", tipe="image/webp")
                img(src=item.src + ".png", alt=item.alt)
            //- img(src=item.src, alt=item.alt)


mixin blogItem(blogData)
    .blog-item.flex
        .blog-item-img
            img(src=blogData.src, alt=blogData.alt)
        .blog-item-descr-info.flex
            .blog-item-descr
                h2= blogData.title
                p= blogData.description
            .blog-item-btn.flex
                a.read(href="") читати
                .hashtag
                    each hashtag in blogData.hashtags
                        a.hashtag-button(href='#')= hashtag


mixin newArrivalsContent(imageSrc, imageAlt, title, price)
    .new-arrivals-content 
        figure.clock_content
            ficaption 
                a(href="#") 
                .img-content-arrivals.flex
                    picture 
                        source(srcset=imageSrc + ".webp", tipe="image/webp")
                        img(src=imageSrc + ".png", alt=imageAlt)
                    //- img(src=imageSrc, alt=imageAlt)
                .description-arrivals 
                    h2.clock_h2_arriv= title
                    p.clock_p= price

